// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "uix_validations";

.container {
  width: 100%;
}
.home-form {
  width: 60%;
  margin: 0 auto;
}
.home-title {
  font-family: 'Poiret One', cursive;
  font-weight: 100;
  font-size: 500%;
  margin-top: 5%;
  text-align: center;
}
.input {
  width: 50%;
  margin: 0% auto;
  margin-top: 2%;
}
.input-text {
  margin-top: 3%;
  padding: 2% 3%;
  width: 94%;
  border: 1px solid #acacac;
  border-radius: 10px;
}
.btn-submit {
  width: 50%;
  margin: 5% auto;
}
.form-btn {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: rgb(31, 150, 247);
  color: #ffffff;
  padding: 1%;
  font-size: 130%;
  transition: 0.3s;
}
.form-btn:hover {
  cursor: pointer;
  background-color: rgb(32, 108, 170);
}
.uix-validation {
  font-size: 90%;
}